@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.container{
    width: 1480px;
    margin: 0 auto;
    padding: 0 5px;
  }

@font-face {
    font-family: 'Helvatica';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/helvatica/helvetica-compressed-5871d14b6903a.woff') format('woff')
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/Montserrat/Montserrat-Regular.woff') format('woff')
  }
  @font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/Arial/ArialMdm.woff') format('woff')
  }