/* .login-wrapper{
    width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    border-radius: 16px;
    background-color: #ffbb00df;
} */
.login-heading{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.login-form{
    gap: 10px;
    padding: 15px;
    width: 400px;
}

.data-input-wrapper{
    display: block;
    padding-bottom: 10px;
}


.submit-login{
    width: 100%;
    padding: 6px;
} 

.data-input{
    padding: 3px 3px 3px 5px;
}

@media only screen and (max-width: 540px) {
    .login-form{
        gap: 10px;
        padding: 15px;
        width: 300px;
    }
  }