/* .register-wrapper{
    width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    border-radius: 16px;
    background-color: #ffbb00df;
} */
.register-heading{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
    
.register-form{
    gap: 10px;
    padding: 15px;
}

   
.submit-register{
    width: 100%;
    padding: 6px;
} 